{% extends "base.html.twig" %}

{% block title %}AppBundle:Game:addGame{% endblock %}

{% block body %}
    Utworzono mecz {{ newGame.homeTeam }} : {{ newGame.awayTeam }}<br>
<br>
    <a href="/">wróć do głównej</a>
{% endblock %}
