{% extends "base.html.twig" %}

{% block title %}AppBundle:Game:createGame{% endblock %}

{% block body %}
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
    <a href ="{{ path('homepage') }}">wróć do głównej</a>
{% endblock %}
