{% extends "::base.html.twig" %}

{% block title %}AppBundle:Game:deleteGame{% endblock %}

{% block body %}
<h1>usunięto mecz !!!</h1>
usunięto mecz {{ gameToDelete.homeTeam }} : {{ gameToDelete.awayTeam }}<br>
    <a href="/">wróć do głównej</a>
{% endblock %}
