{% extends "base.html.twig" %}

{% block title %}AppBundle:team:addTeam{% endblock %}

{% block body %}
<h1>dodano zespół</h1>
    utworzono drużynę {{ newTeam.name }} <img height="30" src="{{ newTeam.logo }}"><br>
    <a href="/">wróć do głównej</a>

{% endblock %}
