{% extends "base.html.twig" %}

{% block title %}AppBundle:team:createTeam{% endblock %}

{% block body %}
<h1>Welcome to the team:createTeam page</h1>
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
    <a href ="{{ path('homepage') }}">wróć do głównej</a>
{% endblock %}
