{% extends "base.html.twig" %}

{% block title %}AppBundle:team:createTeam{% endblock %}

{% block body %}
<h1>Welcome to the team:createTeam page</h1>
<form action ="addTeam" method ="POST">
  Enter team name <input type "text" name = "name"> </br>
  Enter password <input type "password" name = "password"></br>
  Enter logo url <input type "text" name = "logo"> </br>
  register <input type = "submit" value = "click">
</form>
{% endblock %}
