{% extends "::base.html.twig" %}

{% block title %}AppBundle:team:deleteTeam{% endblock %}

{% block body %}
    <h1>usunięto zespół !!!</h1>
    usunięto zespół {{ teamToDelete.name }} <br>
    <a href="/">wróć do głównej</a>
{% endblock %}
