{% extends "base.html.twig" %}

{% block title %}AppBundle:team:showAllTeams{% endblock %}

{% block body %}
<h1>Welcome to the team:showAllTeams page</h1>
{%for team in allTeams%}
Nazwa: {{team.name}}<br>
Logo: {{team.logo}}<br>
---------<br>
{%endfor%}
{% endblock %}
