{% extends "base.html.twig" %}

{% block title %}AppBundle:team:showTeam{% endblock %}

{% block body %}
<h1>strona drużyny {{team.name}}</h1>

    <img src="{{ team.logo }}"><br>
    <a href ="{{ path('homepage') }}">wróć do głównej</a>
{% endblock %}
