{% extends "base.html.twig" %}

{% block title %}AppBundle:User:CreateUser{% endblock %}

{% block body %}
<h1>Welcome to the User:CreateUser page</h1>
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
{% endblock %}
