{% extends "base.html.twig" %}

{% block title %}AppBundle:User:CreateUser{% endblock %}

{% block body %}
<h1>Welcome to the User:CreateUser page</h1>
<form action ="addUser" method ="POST">
  Enter user name <input type = "text" name = "name"> </br>
  Enter user last name <input type = "text" name = "lastName"> </br>
  Enter user email <input type = "text" name = "email"> </br>
  Enter password <input type = "password" name = "password"></br>
  register <input type = "submit" value = "click">
</form>
{% endblock %}
