{% extends "base.html.twig" %}

{% block title %}AppBundle:Login:login{% endblock %}

{% block body %}
{% if errors%}
  <div class="alert alert-danger">
  {{ error.messageKey }}
{% endif %}
<form action="{{path('login') }}" method="post">
  <label for="name">Name:</label>
  <input type="text" name="_name" id="name" value="{{username}}">

  <label for="name">Password:</label>
  <input type="password" name="_password" id="password">

  <button>login</button>
</form>
{% endblock %}
